body {
    background-color: #080c14;
    color: white;
    margin: 50px;
}

a {
    color:aquamarine;
    font-size: large;
}

img {
    border-radius: 5%;
    border: 2px solid skyblue;
    width: 350px;
    height: 225px;

}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    color: rgb(231, 157, 253);
}