body {
    background-color: #080c14;
    color: white;
    margin: 50px;
    padding: 20px, 20px, 20px;
    font-size: large;
}

a {
    color:aquamarine;
    font-size: large;
}

img {
    border-radius: 5%;
    border: 2px solid skyblue;
    width: 350px;
    height: 225px;

}

p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;

}

ul, ol {
    color: rgb(231, 157, 253);
}